@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

h1, h2, h3, h4 {
    font-family: 'Poppins';
}

h1 {
    font-size: 75px;
    font-weight: bolder;
}

h2 {
    font-size: 30px;
    background-color: rgba(255,204,53,.4);
    transform: skew(9deg, 0deg);
    font-style: italic;
}

h3 {
    font-size: 14px;
    color: #ED1C24;
    font-weight: bolder;
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

  .logo {
    width: 60px;
    padding: 15px;
  }

#search-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

.form {
    background-color: rgba(0,0,0,.05);
    padding: 0px;
    border: none;
    width: 60%;
    flex-direction: row;
    align-items: center;
  
  }

  .search-input[type=text] {
    background-color: transparent;
    border: none;
    text-align: left;
    margin-bottom: 0px;
    margin-right: 0px;
  }

  .glass{
    width: 3%;
    margin-left: 5px;
    margin-top: 5px;
  }

 .search-button {
    background-color: #fb3e44;
    color: white;
    border: none;
    padding: 13px;
    margin-block-end: auto;
    float: right;

  }

#buttons-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10px;
}
 #buttons-bar > a {
    text-decoration: none;
    color: black;
}

.join{
    margin: 0 15px;
}

  .highlight {
    border : 1px black solid;
    padding: 6px 15px;
  }

  .log-in {
    margin: 0 15px;
  }

  #hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    background-color: rgba(232,217,217,.3);
   

  }

  #hero > article {
    width: 30%;
    text-align: center;
    margin-bottom: 5%;

  }

#buttons-hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.see-plans {
    background-color: #FB3B49;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
    color: white;
    text-decoration: none;
    padding: 15px 60px;
    font-weight: bold;
    margin: 0px 35px;

  }

  .join-free {
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 15px 60px;
    font-weight: bold;
  }

  #promess {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-color: white;
    
  }

  .hexagon{
    width: 13%;
    margin: 5% 0 1%;
  }

  #promess > article {
    width: 45%;
    text-align: center;
    font-size: 13px;
    padding-bottom: 10%;
  }

  #why-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
  }

.table {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 10% 5% 10%;

}

.icones-S3 {
    width: 20%;
}

.table div {
    width: 16%;
}

#why-us p {
font-size: 12px;

}

.black-button {
    padding: 15px 60px;
    background-color: black;
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
    color: white;
    text-decoration: none;
    margin: 0 auto;
    
}